.wrapper {
    margin-top: 1rem;
}

ion-title {
    background: linear-gradient(160deg, rgba(2, 0, 36, 1) 0%, rgba(36, 44, 59, 1) 45%, rgba(64, 133, 235, 1) 100%);
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-top: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    color: white;
}
